[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = http://github.com/kohana/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = http://github.com/kohana/unittest.git



